@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/* nav bar  */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: aquamarine;
}
.navbar-logo {
    font-size: 34px;
    margin: 1%;
    font-weight: bolder;
}
.navbar-links a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
.navbar-links a:hover {
    text-decoration: underline;
}

/* blogs  */

.blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blog-body {
    width: 70%;
    padding: 2%;
    margin-top: 2%;
    box-shadow: 5px 5px 15px lightgray;
    border-radius: 5px;
    background-color: white;
}
.blog-body a {
    text-decoration: none;
    color: black;
}
.blog-body a:hover {
    text-decoration: underline;
}
.blog-body:hover {
    /* box-shadow: 2px 2px 10px lightgray; */
    border-left: 5px solid aquamarine;
}
.blog-title {
    font-size: 24px;
    padding: 1%;
}
.blog-writer {
    font-size: 16px;
    color: gray;
    padding: 1%;
}

/* blog details  */

.blog-detail-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20%;
}
.blog-detail {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2%;
}
.blog-author {
    color: gray;
}
.blog-delete-button {
    display: flex;
    margin-top: 3%;
    justify-content: center;
    align-items: center;
}
img {
    width: 20px;
    height: 20px;
}
img:hover {
    cursor: pointer;
    box-shadow: 2px 2px 15px lightgray;
}

/* create  */

.form-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-flex input {
    width: 500px;
    height: 50px;
    margin-top: 2%;
}
.form-flex textarea {
    width: 500px;
    height: 200px;
    margin-top: 2%;
}
.form-submit {
    margin-top: 2%;
    width: 500px;
    height: 50px;
    border: 0px;
    background-color: aquamarine;
    font-size: 24px;
    font-weight: bolder;
    box-shadow: 2px 2px 15px lightgray;
}
.form-submit:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px lightgray;
}